html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* hide the pointers from palmPointers Plugin since we're drawing hands on canvas */
.handsfree-pointer {display: none !important}

.handsfree-debugger {opacity: 0.25 !important}